<div class="card mb-4">
  <div class="card-header">
    <h4>Password {{ type }}</h4>
  </div>
  <div class="card-body">
    <div class="alert alert-success" *ngIf="successAlert">
      Action performed successfully.
    </div>

    <div class="alert alert-danger" *ngIf="dangerAlert">
      Action performed failed.
    </div>

    <form [formGroup]="passwordForm" (ngSubmit)="saveData()">
      <div class="mb-3 row">
        <label for="website" class="col-sm-4 col-form-label">Website</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="website"
            formControlName="website"
          />
          <div
            class="text-danger"
            *ngIf="website?.invalid && (website?.dirty || website?.touched)"
          >
            <div *ngIf="website?.errors?.['required']">
              Website is required.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="username" class="col-sm-4 col-form-label">Username</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="username"
            formControlName="username"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="password" class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-8">
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="other-type-login" class="col-sm-4 col-form-label">
          Other Login Type
        </label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="other-type-login"
            formControlName="otherLoginType"
          />
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!passwordForm.valid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
